*{
	margin: 0;
	padding: 0;
}
p{
	display: block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	position: absolute;
	top: 35%;
	bottom: 35%;
	left: 0%;
	right: 0%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	text-decoration: none;
	color: #000000;
}
html{
	background: url("../Fondo.png") no-repeat center center fixed; 
    background-size: cover;
}
#main{
	position: absolute;
	display: block;
	width: 1366px;
	height: 667px;
	/*width: 100%;
	height: 100%;*/
	overflow: hidden;
	z-index: 1;
}
#p{
	position: absolute;
	display: block;
	right: 17%;
	left: 17%;
	top: 10%;
	bottom: 80%;
	background-color: #999999;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #FFFFFF;
}
#a{
	position: absolute;
	display: block;
	right: 68%;
	left: 17%;
	top: 26%;
	bottom: 43.2330508473%;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #999999;
}
#b{
	position: absolute;
	display: block;
	right: 51%;
	left: 34%;
	top: 26%;
	bottom: 43.2330508473%;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #999999;
}
#c{
	position: absolute;
	display: block;
	right: 34%;
	left: 51%;
	top: 26%;
	bottom: 43.2330508473%;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #999999;
}
#d{
	position: absolute;
	display: block;
	right: 17%;
	left: 68%;
	top: 26%;
	bottom: 43.2330508473%;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #999999;
}
#e{
	position: absolute;
	display: block;
	right: 68%;
	left: 17%;
	top: 63.2330508473%;
	bottom: 5.5338983054%;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #999999;
}
#f{
	position: absolute;
	display: block;
	right: 51%;
	left: 34%;
	top: 63.2330508473%;
	bottom: 5.5338983054%;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #999999;
}
#g{
	position: absolute;
	display: block;
	right: 34%;
	left: 51%;
	top: 63.2330508473%;
	bottom: 5.5338983054%;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #999999;
}
#h{
	position: absolute;
	display: block;
	right: 17%;
	left: 68%;
	top: 63.2330508473%;
	bottom: 5.5338983054%;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 90px;
	border-style: solid;
	border-width: thick;
	border-color: #999999;
}
#a p{
	top: 45%;
}
#b p{
	top: 45%;
}
#c p{
	top: 45%;
}
#d p{
	top: 45%;
}
#e p{
	top: 45%;
}
#f p{
	top: 45%;
}
#g p{
	top: 45%;
}
#h p{
	top: 45%;
}